* {
    box-sizing: inherit;
}
a {
    text-decoration: none;
    color: black;
}

body {
    height: 100%;
    margin: 0;
    overflow: auto;
}

html {
    min-height: 100%;
    overflow: auto;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    display: block;
}

nav {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: var(--grey);
    font-weight: bold;
}