/* * {
  border: red solid 1px;
} */
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

.about,
.nearest {
  height: 100%;
}

.map {
  height: 100%;
  width: 100%;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  height: 100vh;
  font-family: Roboto Mono;
  text-transform: uppercase;
}

.page-wrapper-hotkey {
  display: initial;
  height: 100vh;
}

.section-middle {
  width: 100%;
  height: 100vh;
}

.section-left,
.section-right {
  background-color: #262626;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.marker {
  max-height: 3rem;
}

.nearest-icon {
  height: 50%;
  width: 50%;
  object-fit: contain;
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.station {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.nearest-icon-div,
.nearest-text-div {
  height: 100px;
  
}

.section-left > div {
  border-bottom: 2px solid #363636;
  margin-bottom: 20px;
  padding-bottom: 20px
}

.name-link {
  color: #B07FF5
}

button {
  color: white;
  background-color: #4D00BC;
  border: 2px solid #6715DD;
  padding: 10px;
  border-radius: 10px;
  font-family: Roboto Mono;
  height: 3rem;
  display: inline-block;
}

.search-icon {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.postcode-search-input {
  color: white;
  background-color: #424242;
  border: 2px solid #646464;
  border-radius: 10px;
  font-family: Roboto Mono;
  height: 3rem;
  display: inline-block;
}

/* .postcode-search-form {
  align-items: center;
} */