/* * {
  border: red solid 1px;
} */

@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

:root {
  --font-family: Roboto Mono;
  --colour--white: #ffffff;
  --colour--dark: #262626;
  --colour--divider: #363636;
  --colour--input: #424242;
  --colour--input--border: #646464;
  --colour--primary: #4d00bc;
  --colour--primary--border: #6715dd;
  --colour--primary--hover: #280062;
  --colour--primary--hover--border: #400a8d;
  --colour--link: #b07ff5;
}

h1 {
  font-size: 1.8rem;
}

a {
  cursor: pointer;
}

button {
  color: var(--colour--white);
  background-color: var(--colour--primary);
  border: 2px solid var(--colour--primary--border);
  padding: 5px;
  border-radius: 10px;
  font-family: var(--font-family);
  height: 3rem;
  display: inline-block;
  cursor: pointer;
}

button:hover {
  background-color: var(--colour--primary--hover);
  border: 2px solid var(--colour--primary--hover--border);
  cursor: pointer;
}

button,
button:hover {
  transition: background-color 0.2s, border 0.2s;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  height: 100%;
  font-family: var(--font-family);
  text-transform: uppercase;
}

.page-wrapper-hotkey {
  display: initial;
  height: 100vh;
}

.section-middle {
  width: 100%;
  height: 100%;
}

.section-right {
  height: 100vh;
  display: flex;
}

.section-left,
.section-right {
  background-color: var(--colour--dark);
  padding: 20px;
  color: var(--colour--white);
  display: flex;
  flex-direction: column;
  /* transition: display 3s; */
}

.section-left > div,
.section-right > div {
  border-bottom: 2px solid var(--colour--divider);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.title {
  display: flex;
  gap: 8px;
}

.title img {
  height: 40px;
}

.star {
  display: flex;
  align-items: center;
  gap: 8px;
}

.star img {
  height: 24px;
}

.spotlight-header {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}

.spotlight-header h1 {
  flex-grow: 1;
}

.stats-header h1,
.postcode-header h1,
.about-header h1 {
  padding-bottom: 8px;
}

.refresh-btn {
  height: 2rem;
}

.refresh-icon {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.spotlight-content {
  display: flex;
  gap: 8px;
}

.spotlight-icon {
  height: 2.8rem;
}

.name-link {
  color: var(--colour--link);
}

.stats-header {
  display: flex;
  align-items: center;
}

.stats-header h1 {
  flex-grow: 1;
}

.totals {
  padding-bottom: 20px;
}

.chevron-icon {
  width: 40px;
  height: 40px;
  padding-bottom: 8px;
  display: none;
}

.owner-list {
  padding-bottom: 12px;
}

.owner-div {
  padding-bottom: 12px;
}

.count-div {
  font-weight: bolder;
}

.postcode-search-form {
  align-items: center;
  display: flex;
  gap: 12px;
}
.postcode-search-input {
  color: var(--colour--white);
  background-color: var(--colour--input);
  border: 2px solid var(--colour--input--border);
  border-radius: 10px;
  font-family: var(--font-family);
  height: 3rem;
}

.suburb-results button {
  margin: 4px 4px 4px 0px;
  height: 2rem;
}

.search-icon {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.about img {
  height: 60px;
  width: 60px;
  border-radius: 200px;
}

.profiles {
  display: flex;
  gap: 8px;
}

.map {
  height: 100vh;
  width: 100%;
}

.marker {
  max-height: 3rem;
}

.about,
.nearest {
  height: 100%;
}

.mobile-about, .mobile-footer {
  display: none;
}

.clock-weather {
  display: flex;
  gap: 8px;
  padding: 10px;
}

.today:hover {
  cursor: pointer;
  color: #b07ff5;
}

.weather-time-icon {
  height: 24px;
  width: 24px;
}

.nearest {
  overflow: auto;
}

.nearest-icon {
  height: 3rem;
  width: 3rem;
  /* object-fit: contain; */
  margin: auto;
  align-items: center;
  margin-top: 20px;
}

.station-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.station {
  display: flex;
  gap: 16px;
}

.nearest-text-div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.nearest-text-div > p {
  margin: 0;
}

.name-nearest {
  color: var(--colour--link);
  margin-bottom: 12px;
  cursor: pointer;
}

.nearest-distance-div {
  margin-top: 16px;
}


/* tablet and mobile */
@media (max-width: 768px) {
  .page-wrapper {
    display: flex;
    flex-direction: column;
  }
  .chevron-icon {
    display: block;
  }
  .stats-info {
    display: none;
  }
  .show {
    display: block;
  }
  .postcode {
    display: flex;
  }
  .postcode-header {
    flex-grow: 1;
  }
  .map {
    height: 400px;
  }
  .about, footer {
    display: none;
  }
  .mobile-about, .mobile-footer {
    display: inline;
  }
  .mobile-about > .profiles {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  .mobile-about img {
    border-radius: 200px;
    height: 60px;
  }
}

.hidden {
  display: none;
  /* transition: display 3s; */
}

.invert {
  transform: rotateX(180deg);
  transform-origin: 10%;
  transition: transform 0.3s;
}