<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Servo</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="/client.js"></script>
    <link rel="stylesheet" href="./reset.css" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="page-wrapper">
      <section class="section-left">
        <div class="title">
          <img src="/images/Greek_lc_epsilon 2.png" alt="logo">
          <h1>EPSILON SERVO</h1>
        </div>
        <div class="star">
          <img src="https://img.icons8.com/?size=100&id=7856&format=png&color=B07FF5" alt="star">
          <p class="favourites-count"></p>
        </div>
        <div class="spotlight">
          <div class="spotlight-header">
            <h1>Spotlight</h1>
            <button class="refresh-btn"><img src="https://img.icons8.com/?size=100&id=123373&format=png&color=FFFFFF" class="refresh-icon" alt="refresh"></button>
          </div>
          <div class ="spotlight-content"></div>
        </div>
        <div class="stats">
          <div class="stats-header">
            <h1>Stats</h1>
            <img src="https://img.icons8.com/?size=100&id=ahobfTJIEHd8&format=png&color=FFFFFF" class="chevron-icon" alt="">
          </div>
          <div class="stats-info">
            <div class="totals">
              <h3>Total station: 5244</h3>
              <h3>Total owners: 32</h3>

            </div>
            <div class="owner-list">
          </div>
            
          </div>
        </div>
        <div class="postcode">
          <div class="postcode-header"><h1>Postcode</h1></div>
          <form class="postcode-search-form" action="">
            <input class="postcode-search-input" type="text">
            <button class="postcode-search-btn">
              <img src="https://img.icons8.com/?size=100&id=7695&format=png&color=FFFFFF" alt="search" class="search-icon">
            </button>
          </form>
          <div class="suburb-results"></div>
          <div class="suburb-total"></div>
        </div>
        <div class="about">
          <div class="about-header"><h1>About</h1></div>
            <div class="profiles">
              <a href="https://github.com/angelatolim">
                <img src="https://avatars.githubusercontent.com/u/29495772?v=4" alt="Angela">
              </a>
              <a href="https://github.com/berternie9">
                <img src="https://avatars.githubusercontent.com/u/136939278?v=4" alt="Bernie">
              </a>
              <a href="https://github.com/ESJ002">
                <img src="https://avatars.githubusercontent.com/u/164868333?v=4" alt="Eric">
              </a>
              <a href="https://github.com/rainpatter">
                <img src="https://avatars.githubusercontent.com/u/51899485?v=4" alt="Georgia">
              </a>
              <a href="https://github.com/CodePnut">
                <img src="https://avatars.githubusercontent.com/u/159984999?v=4" alt="Mark">
              </a>
            </div>
          </div>
            <footer>&copy 2024</footer>
      </section>

      <section class="section-middle">
        <div class="map" id="map"></div>
      </section>

      <section class="section-right">
        <div class="clock-weather">
          <img src="https://img.icons8.com/?size=100&id=10034&format=png&color=B07FF5" class="weather-time-icon">
          <div class="today"></div>
        </div>
        <div class="map-centre-content">
          <div class="map-centre-header"><h2>Map Centre Location</h2></div>
          <div class="map-centre"></div>
        </div>
        <div class="nearest">
          <div class="nearest-header"><h1>Nearest</h1></div>
          <div class="station-list"></div>
        </div>
        <div class="mobile-about">
          <div class="about-header"><h1>About</h1></div>
            <div class="profiles">
              <a href="https://github.com/angelatolim">
                <img src="https://avatars.githubusercontent.com/u/29495772?v=4" alt="Angela">
              </a>
              <a href="https://github.com/berternie9">
                <img src="https://avatars.githubusercontent.com/u/136939278?v=4" alt="Bernie">
              </a>
              <a href="https://github.com/ESJ002">
                <img src="https://avatars.githubusercontent.com/u/164868333?v=4" alt="Eric">
              </a>
              <a href="https://github.com/rainpatter">
                <img src="https://avatars.githubusercontent.com/u/51899485?v=4" alt="Georgia">
              </a>
              <a href="https://github.com/CodePnut">
                <img src="https://avatars.githubusercontent.com/u/159984999?v=4" alt="Mark">
              </a>
            </div>
          </div>
            <footer class="mobile-footer">&copy 2024</footer>
      </section>
    </div>
    <script>
      ((g) => {
        var h,
          a,
          k,
          p = "The Google Maps JavaScript API",
          c = "google",
          l = "importLibrary",
          q = "__ib__",
          m = document,
          b = window;
        b = b[c] || (b[c] = {});
        var d = b.maps || (b.maps = {}),
          r = new Set(),
          e = new URLSearchParams(),
          u = () =>
            h ||
            (h = new Promise(async (f, n) => {
              await (a = m.createElement("script"));
              e.set("libraries", [...r] + "");
              for (k in g)
                e.set(
                  k.replace(/[A-Z]/g, (t) => "_" + t[0].toLowerCase()),
                  g[k]
                );
              e.set("callback", c + ".maps." + q);
              a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
              d[q] = f;
              a.onerror = () => (h = n(Error(p + " could not load.")));
              a.nonce = m.querySelector("script[nonce]")?.nonce || "";
              m.head.append(a);
            }));
        d[l]
          ? console.warn(p + " only loads once. Ignoring:", g)
          : (d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)));
      })({ key: "<%=process.env.GOOGLE_API_KEY%>", v: "weekly" });
    </script>
    <script src="/client.js" type="module"></script>
  </body>
</html>
