<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Servo</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="/client.js"></script>
    <link rel="stylesheet" href="./reset.css" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="page-wrapper">
      <section class="section-left">
        <div class="star">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae
          accusamus, adipisci officiis similique animi dicta itaque labore
          repellendus doloremque, facere ullam veritatis quia dignissimos sed
          quas commodi inventore velit alias!
        </div>
        <div class="spotlight">
          <div class="spotlight-header"><h1>Spotlight</h1></div>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita,
          doloribus labore et sapiente quasi quaerat assumenda ut aliquam,
          officiis possimus voluptates, in aspernatur alias explicabo culpa
          pariatur praesentium facere harum?
        </div>
        <div class="stats">
          <div class="stats-header"><h1>Stats</h1></div>
          <h3>Total station: 5244</h3>
          <h3>Total owners: 32</h3>
          <ul>
            <li>Caltex</li>
            <li>BP</li>
            <li>Shell</li>
            <li>7-Eleven Pty Ltd</li>
            <li>Independent Fuel Supplies</li>
            <li>United</li>
            <li>Ampol</li>
          </ul>
        </div>
        <div class="postcode">
          <div class="postcode-header"><h1>Postcode</h1></div>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita,
          doloribus labore et sapiente quasi quaerat assumenda ut aliquam,
          officiis possimus voluptates, in aspernatur alias explicabo culpa
          pariatur praesentium facere harum?
        </div>
        <div class="about">
          <div class="about-header"><h1>About</h1></div>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita,
          doloribus labore et sapiente quasi quaerat assumenda ut aliquam,
          officiis possimus voluptates, in aspernatur alias explicabo culpa
          pariatur praesentium facere harum?
          <footer>Copyright</footer>
        </div>
      </section>

      <section class="section-middle">
        <div class="map" id="map"></div>
      </section>

      <section class="section-right">
        <div class="today"></div>
        <div class="map-centre">
          <div class="map-centre-header"><h1>Map Centre Location</h1></div>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita,
          doloribus labore et sapiente quasi quaerat assumenda ut aliquam,
          officiis possimus voluptates, in aspernatur alias explicabo culpa
          pariatur praesentium facere harum?
        </div>
        <div class="nearest">
          <div class="nearest-header"><h1>Nearest</h1></div>
          <div class="station-list"></div>
        </div>
      </section>
    </div>
    <script>
      ((g) => {
        var h,
          a,
          k,
          p = "The Google Maps JavaScript API",
          c = "google",
          l = "importLibrary",
          q = "__ib__",
          m = document,
          b = window;
        b = b[c] || (b[c] = {});
        var d = b.maps || (b.maps = {}),
          r = new Set(),
          e = new URLSearchParams(),
          u = () =>
            h ||
            (h = new Promise(async (f, n) => {
              await (a = m.createElement("script"));
              e.set("libraries", [...r] + "");
              for (k in g)
                e.set(
                  k.replace(/[A-Z]/g, (t) => "_" + t[0].toLowerCase()),
                  g[k]
                );
              e.set("callback", c + ".maps." + q);
              a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
              d[q] = f;
              a.onerror = () => (h = n(Error(p + " could not load.")));
              a.nonce = m.querySelector("script[nonce]")?.nonce || "";
              m.head.append(a);
            }));
        d[l]
          ? console.warn(p + " only loads once. Ignoring:", g)
          : (d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)));
      })({ key: "<%=process.env.GOOGLE_API_KEY%>", v: "weekly" });
    </script>
    <script src="/client.js" type="module"></script>
  </body>
</html>
